.main-image-trail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
  background-color: #121212;

}

.trail-image {
  position: absolute;
  width: 280px;
  height: 280px;
  object-fit: cover;
  transform: translate(-50%, -50%);
  will-change: transform, opacity;
}

.main-image-trail span{
  font-size: clamp(30px, 6vw, 100px);
  font-family: "Inter";
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}